.pickIconPopWrap{
    .el-dialog__body{
        padding-top: 0
    }
    .iconItem{
        display: inline-block;
        text-align: center;
        width: 90px;
        padding: 10px 0;
        cursor: pointer;
        &.selected,&:hover{
            background: rgba(140,202,250,.1);
            border-radius: 5px;
        }
        .imgBox{
            width: 48px;
            height: 48px;
            font-size: 0;
            overflow: hidden;
            margin: 0 auto 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
    .pickImgBtn{
        position: relative;
        display: block;
        width: 104px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #C9CCD1;
        border-radius: 5px;
        color: #666;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        input[type=file]{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            cursor: pointer;
        }
        &:hover{
            border-color: #c7d8f3;
            background-color: #ecf2fb;
            color: #457ED8
        }
    }
    .iconImgPreviewBox{
        width: 96px;
        height: 96px;
        padding: 10px;
        font-size: 0;
        overflow: hidden;
        border: 1px solid #e5e5e5;
        margin-top: 15px;
        background: #F0F3F5
    }
}

