.wx-center {
  height: 408px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  .el-card {
    margin-top: 26px;
    text-align: center;
    width: 520px;
    height: 298px;
    .image {
      width: 64px;
      height: 64px;
      border-radius: 32px;
    }
    .shopname {
      margin: 5px 0;
      font-size: 16px;
      .icon-edit{
        cursor: pointer;
      }
    }
    .img-btn-box {
      margin-top: 32px;
      width: 180px;
      .image-btn {
        border: 1px solid #666;
        cursor: pointer;
        width: 66px;
        height: 66px;
      }
    }
  }
}
