.pft-imgcrop-wrap {
    //裁剪图片主体
    .crop {
        &__imgbox {
            height: 400px;
        }

        &__btnline{

            line-height: 60px;
            text-align: right;

            .crop__btn{
                display: inline-block;
                padding: 7px 15px;
                border: 1px solid #457ed8;
                color: #457ed8;
                border-radius: 3px;
                line-height: 20px;
                cursor: pointer;
                transition: all 0.2s;
                margin-right: 10px;
                &:hover{
                    color: #fff;
                    background-color: #457ed8;
                }
            }

        }

    }
    
    //裁剪图片选择
    .crop-choose {
        height: 200px;
        text-align: center;
        &__btn {
            margin-top: 75px;
            padding: 10px 30px;
            display: inline-block;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                outline: 0;
                border-color: #49a9ee;
                box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
            }
        }
        &__fileInp{
            display: none;
        }
    }
}