.wrap {
    box-sizing: border-box;
    padding: 20px;
    .tip {
        font-size: 16px;
        .tutorial {
            position: absolute;
            top: 100px;
            right: 100px;
            padding: 20px 40px 20px 20px;
            border: 1px solid #EBEEF5;
            font-size: 14px;
            color: #457ED8;
        }
    }
    .img {
        position: absolute;
        top: 165px;
        right: 100px;
        width: 92px;
        height: 92px;
        border: 1px solid #EBEEF5;
        padding: 20px 32px 65px 32px;
        box-shadow: 0 0 1px #000 inset;
        img {
            width: 92px;
            height: 92px;
        }
        i {
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
            left: 0;
            line-height: 22px;
        }
    }
    .flex-ctx {
        margin-top: 16px;
        .template {
            margin: 0;
            padding: 0;
            border: 1px solid #dddddd;
            width: 267px;
            background-color: #eff3f5;
            .setable {
                background-color: #fff;
                width: 267px;
                .text {
                    width: 100%;
                    height: 77px;
                    padding-bottom: 10px;
                    background: url("http://static.12301.cc/assets/build/images/wx_mall_new/mode01.png") no-repeat;
                    background-size: 267px auto;
                }
                .carousel {
                    // border-top: 1px solid #dddddd;
                    padding: 0 10px 10px;
                    .el-carousel {
                        border-radius: 10px;
                        overflow: hidden;
                        .el-carousel__indicators {
                            display: none;
                        }
                    }
                    .el-carousel__item {
                        h3 {
                            font-size: 25px;
                            text-align: center;
                        }
                        img {
                            display: block;
                            width: 266px;
                            max-height: 140px;
                        }
                    }
                }
                .icon {
                    width: 267px;
                    border-bottom: 1px solid #dddddd;
                    box-sizing: border-box;
                    padding: 0px 5px 5px;
                    flex-wrap: wrap;
                    .icon-img-box {
                        img {
                            display: inline-block;
                            height: 48px;
                            width: 48px;
                            margin-bottom: 3px;
                        }
                        text-align: center;
                        height: 68px;
                        width: 62px;
                        font-size: 12px;
                        overflow: hidden;
                    }
                }
            }
            .announce {
                margin-top: 8px;
                padding: 5px 10px;
                background-color: #fffbe8;
                span {
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 185px;
                }
                b {
                    font-weight: bold;
                }
                .icon-annouce {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url("http://static.12301.cc/assets/build/images/wx_mall_new/mode03.png") no-repeat;
                    background-size: 32px 16px;
                    &.more {
                        background-position-x: -16px;
                    }
                }
            }
            .ctx-img {
                background: url("http://static.12301.cc/assets/build/images/wx_mall_new/mode04.png") no-repeat;
                background-size: 267px auto;
                border-top: 1px solid #dddddd;
                width: 267px;
                height: 230px;
            }
        }
        .btn-box {
            margin: 70px 20px 0 10px;
            .btn {
                background-color: #ccc;
                width: 30px;
                text-align: center;
                margin: 10px;
                border-radius: 0px 15px 15px 15px;
                cursor: pointer;
                &.active {
                    background-color: #457dd8;
                    color: #fff;
                }
                .btn-text {
                    width: 12px;
                    font-size: 12px;
                    margin: 8px auto;
                    word-wrap: break-word;
                    line-height: 15px;
                }
            }
        }
        .box-card {
            width: 600px;
            .header {
                .title {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .tip {
                li {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .pic-edit {
                height: 150px;
                margin-top: 15px;
                border: 1px solid #ccc;
                position: relative;
                &.drog-move {
                    transition: transform 1s;
                }
                div.btn {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    z-index: 1024;
                    .icon-btn {
                        padding: 7px;
                    }
                }
                .image {
                    height: 150px;
                    width: 200px;
                    padding: 5px;
                    border-right: 1px solid #ccc;
                }
                .edit {
                    padding: 10px;
                    height: 150px;
                    .link {
                        background-color: #f1f1f1;
                        margin-left: 15px;
                        padding: 0 8px;
                        .link-detail {
                            overflow: hidden;
                            max-width: 160px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .delete-btn {
                            font-size: 22px;
                            transform: rotate(45deg);
                            color: #888888;
                            cursor: pointer;
                            &:hover {
                                color: #457dd8;
                            }
                        }
                    }
                }
            }
            .add {
                width: 100%;
                margin-top: 20px;
                height: 40px;
                background-color: rgba($color: #8ccafa, $alpha: 0.1);
                color: #457dd8;
                cursor: pointer;
            }
        }
    }
    .bd {
        border: 1px solid #dddddd;
    }
}

.link-dialog {
    .label {
        margin: 10px 0 15px 0;
    }
    .el-option {
        width: 350px;
    }
    .el-input {
        width: 100%;
    }
}

.v-modal {
    z-index: 1060 !important;
}

.icon-choose-dialog {
    z-index: 1080 !important;
    .icon-wrap {
        width: 100%;
        flex-wrap: wrap;
        .icon-box {
            padding: 3px;
            margin-right: 5px;
            img {
                display: block;
                width: 48px;
                height: 48px;
                margin-bottom: 3px;
                cursor: pointer;
            }
            &.active {
                border: 1px solid #457dd8;
                background-color: rgba($color: #8ccafa, $alpha: 0.1);
            }
        }
    }
    .icon-img {
        margin-top: 15px;
        display: block;
        width: 96px;
        height: 96px;
        border: 1px solid #333;
    }
}