.page.minProDecoration{
    padding-bottom: 30px;
    .stageContainer{
        padding: 15px;
        margin: 0 15px;
        background: #F0F3F5
    }
    .leftCon{
        margin-right: 20px;
        .tit{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-left: 3px;
        }
        .listUl{
            width: 200px;
            overflow: hidden;
            .smooth-dnd-draggable-wrapper{
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                font-size: 0;
                &:nth-child(2n){margin-right:0;}
                img{
                    width: 90px;
                }
            }
        }
    }

    .outputStage{
        margin-right: 20px;
        .smooth-dnd-container{
            width: 375px;
            height: 667px;
            overflow: auto;
        }
    }

    .drop-preview{
        position: relative;
        border-color: #457ED8;
        background: #E6F7FF;
        margin: 10px 0;
        &:after{
            content : "放在这里";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #457ED8;
        }
    }
    .preview-component-drag{
        box-shadow: 0 0 2 rgba(0,0,0,0.1);
        transform: rotateX(30deg)
    }

}
//自定义滚动条scrollbar
.custom-scrollbar{
	&::-webkit-scrollbar-thumb{border-radius: 10px; background-color: rgba(0,0,0, .2);}
	&::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0, .4);}
	&::-webkit-scrollbar-corner{background-color:#fff}
	&::-webkit-scrollbar-resizer{background-color:#FF6E00}
	&::-webkit-scrollbar{ width:8px;}

	&::-o-scrollbar-thumb{border-radius: 10px; background-color: rgba(0,0,0, .2);}
	&::-o-scrollbar-thumb:hover{background-color:rgba(0,0,0, .4);}
	&::-o-scrollbar-corner{background-color:#fff}
	&::-o-scrollbar-resizer{background-color:#FF6E00}
	&::-o-scrollbar{ width:8px;}

	&::-moz-scrollbar-thumb{border-radius: 10px; background-color: rgba(0,0,0, .2);}
	&::-moz-scrollbar-thumb:hover{background-color:rgba(0,0,0, .4);}
	&::-moz-scrollbar-corner{background-color:#fff}
	&::-moz-scrollbar-resizer{background-color:#FF6E00}
	&::-moz-scrollbar{ width:8px;}

	&::-ms-scrollbar-thumb{border-radius: 10px; background-color: rgba(0,0,0, .2);}
	&::-ms-scrollbar-thumb:hover{background-color:rgba(0,0,0, .4);}
	&::-ms-scrollbar-corner{background-color:#fff}
	&::-ms-scrollbar-resizer{background-color:#FF6E00}
	&::-ms-scrollbar{ width:8px;}
}
